.adSearchTitle {
    font-weight: bold;
    font-size: 2rem;
}

.adSearchDetails{
    font-size: 0.7rem;
}

.adSearchSubDetails , .adSearchSubDetailsIcon {
    font-size: 0.7rem;
    align-self: center;
}


