/*for the select input*/
.MuiInputLabel-root {
    color: var(--main-white) !important;
    font-size: larger;

}

.MuiFilledInput-root::after{
    border-color: var(--main-yellow) !important;

}

.MuiInputLabel-root.Mui-focused{
    color: var(--main-yellow) !important;
}

#allezY:not(.Mui-disabled) {
    border-color: var(--main-yellow);
    color: var(--main-yellow);


}
#allezY{
    font-weight: bold;
    font-size: larger;
}


.MuiCardMedia-root {
    width: 300px !important;

}
