#inscription {
    color : var(--main-yellow);
    border-color: var(--main-yellow);
    transition: all 500ms;
}
#inscription:hover {
    color : #fff;
    background-color: var(--main-yellow) !important;
}
.navbar-toggler {
    border-color: #00ADB5;
}

.nav-item > a {
    color : var(--main-gray);

}

.nav-item>.active {
    color: var(--main-white)
}

.nav-item > a:hover {
    text-decoration: none;
    /*border-bottom: 3px solid var(--primary-adsil-color);*/
}

.nav-item > a::after  {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--main-yellow);
    transition: width .3s;
}

#connexion::after{
    content: '';
    display: block;
    height: 3px;
    background: var(--main-yellow);
    width: 120%;
}

.nav-item > a:hover::after{
    width: 100%;
    transition: width .3s;
}
.nav-item >.active::after {
    width :100% !important;
}

#connexion {
    color: var(--main-yellow);
}

#connexion:hover{
    cursor: pointer;
}

