#adAddDialogAppBar {
    background-color: var(--main-brown) !important;
    color: var(--main-white) !important;

}
.MuiDialog-container > div{
    background-color: var(--main-dark) !important;
    color: var(--main-yellow) !important;
}

.MuiOutlinedInput-input{
    color : var(--main-yellow) !important;
}

#sumbitAdAddDialogButton{
    border-color: var(--main-yellow) !important;
    font-size: 1.3rem !important;
    text-transform: capitalize;
}
#addAdButton{
    background-color: rgba(255 , 221, 0 , 0.3) !important;
}
