:root {
  --main-yellow : #FFDD00;
  --main-brown : #A46E3C;
  --main-dark: #1B2129;
  --main-white : #F2F5F2;
  --main-gray : #7299A3;
}

body{
  background-color: var(--main-brown);
}

.main-yellow {
  color: var(--main-yellow) !important;
}

.main-yellow-bg {
  background-color: var(--main-yellow) !important;
}

.main-brown{
  color: var(--main-brown);
}
.main-brown-bg{
  background-color: var(--main-brown);
}

.main-black {
  color: var(--main-dark);
}


.main-black-bg {
  background-color: var(--main-dark);
}


.main-white{
  color: var(--main-white) ;
}

.main-white-bg{
  background-color: var(--main-white);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
